<div
  [ngClass]="{ 'blur-container': isBlurred }"
  class="blur-container position-fixed"
>
  <div class="border position-fixed login rounded p-2">
    <div class="row h-100">
      <div
        class="col justify-content-around d-flex flex-column align-items-center "
      >
        <div class="div">
          <h2>Github Purge</h2>
          <h4 class="font-weight-light">
            Get rid of your repos, the easy way.
          </h4>
        </div>
        <button
          class="btn btn-outline-dark w-50 d-flex justify-content-around align-items-center"
        >
          <img
            src="../../assets/GitHub-Mark/GitHub-Mark/PNG/GitHub-Mark-32px.png"
            alt="github logo"
          />
          Log In With Github
        </button>
      </div>
    </div>
  </div>
</div>
